/* Formatando */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 10px;
}

main {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rbga(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #343a40;
    font-size: 1.8rem;
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0086b3;
}

ol {
    margin-top: 1rem;
}

li {
    padding: 0.75rem;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: slideIn 0.3s ease;
}

li:hover {
    background-color: #f8f9fa;
}

/* Animação com slideIn */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Responsividade */
@media (max-width: 480px) {
    main {
        padding: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    input[type="text"], button {
        font-size: 0.6rem;
    }

    button {
        padding: 0.6rem;
    }
}